body {
    background-color: #F5F5F5;
}

#searchInput {
    border-radius: 0;
}

#pageID {
    background-color: #F08080;
    border-radius: 0;
}

#kdInput {
    width: 30%;
    min-width: 200px;
}

#multiQueryBox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

.fcsinput {
    padding: 6px !important;
}

.timeInput {
    width: 150px;
}

#content {
    margin: 10px;
}

#msgPane {
    margin: 10px;

    display: none;
    width: 35%;
    min-width: 300px;
}

.queryTag {
    margin: 1px!important;
    padding: 5px!important;
}

.searchBox {
    /*width: 30%;*/
    padding: 0.5em!important;
    display: inline-block;
}

.searchBox .dropdown {
    padding: 0.5em !important;
}

#multiQueryBox {
    /*min-width: 700px;*/
    /*width: 70%;*/
    margin: 10px;
}

.dropdown {
    margin: 0;
}

.searchContent {
    display: inline-block;
}

#graphContent {
    width: 80%;
    min-width: 720px;
    vertical-align: top;
    display: inline-block;
}

.infoPane {
    width: 22%;
    min-width: 250px;
    margin-left: 20px;
    height: 300px;
    display: none;
}

#settingPanes {
    display: inline-block;
    vertical-align: top;
}

#searchResult {
    width: 70%;
    min-width: 720px;
}

.graphPane {
    display: none;
}
 
.settingPane {
    height: auto;
    overflow: auto;
}

.groupPara {
    display: none;
}

#timeline {
    /*width: 70%;*/
    min-width: 720px;
    /*display: none;*/
}

#rtTm {
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
}

/* Tag cloud Graph */
#heatBK {
    position: absolute;
}

#gwicl {
    position: relative;
}

#vpBoard {
    display: none;
    width: 25%;
    min-width: 300px;
    height: auto;
    margin-left: 2.5%;
}

.moveVp {
    vertical-align: top;
    margin-top: 1rem;
}

.stickyVp {
    position: fixed;
    right: 10px;
    top: 10px;
}

#videoplayer {
    padding: 0;
    height: auto;
}

#vid {
    width: 100%;
}

/*Search results snippets style: */
/*Search results snippets style: */
/*Search results snippets style: */
/*Search results snippets style: */
/*Search results snippets style: */
/*Search results snippets style: */
/*Search results snippets style: */

#searchResult {
    width: 70%;
    min-width: 720px;
    display: inline-block;
}


#resultsList {
    width: 90%;
    margin: auto;
}

.conditionButton {
    margin: 0 !important;
}

.oneDoc p {
    /*font-family: arial, verdana, georgia, serif;
    background-color: #FFFFFF;
    list-style-type: none;*/
    /*width: 90%;*/
    display: table;
}

.oneDoc .avatars {
    width: 80px;
    height: 80px;
}

.oneDoc .avatars {
    max-width: 100%;
    max-height: 100%;
}

.oneDoc .keywords {
    /*font-size: 1em;*/
    /*cursor: pointer;*/
    /*pointer-events: auto;*/
    /*color: rgba(0, 0, 0, .6);*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.avatars{
    /*vertical-align: middle;*/
    /*border-radius: 0;*/
    cursor: pointer;
}

.titleLink {
    cursor: pointer;
}


#pageBar {
    margin-top: 1em;
}

#page {
    /*width: 260px;*/
    /*height: 50px;*/
   /* margin-left: auto;
    margin-right: auto;
    margin-top: 10px;*/
    /*display: none;*/
}

#pf1, #pf2, #ps{
    display: inline-block;
}

#pa2 {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    border: none;
}

/*Graph style: */
/*Graph style: */
/*Graph style: */
/*Graph style: */
/*Graph style: */
/*Graph style: */
/*Graph style: */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.markedQuery {
    background-color: #FFC0CB;
    padding-left: 1px;
    padding-right: 1px;
    box-shadow: 1px 1px 2px #C0C0C0;
}

.circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: move;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.glabel {
    cursor: default;
    /*display: none;*/
    /*font-family: sans-serif;*/
    pointer-events: none;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

/*.words {
    font-family: monobold;
}*/

.words {
}

.words:hover {
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

text.litte {
    fill: #000;
}

.bubble text {
    cursor: pointer;
}

.liW {
    font-family: arial, serif;
}

.dennode circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.dennode text{
    font-family: sans-serif;
    cursor: pointer;
}

.denlink {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.liW:hover {
    cursor: pointer;
}

.tcircle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf .tcircle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

.imageBorder {
    shape-rendering: crispEdges;
}

